@model ICollection<AccountGoWeb.Models.IncomeStatement>

@{
    ViewBag.Title = "Income Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var netIncome = Model?.Where(a => !a.IsExpense).Sum(a => a.Amount) ?? 0 - 
                    Model?.Where(a => a.IsExpense).Sum(a => a.Amount) ?? 0;
}

<h2>Income Statement</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
else if (Model == null || !Model.Any())
{
    <p>No data available to display.</p>
}
else
{
    <div>
        <h3>Revenues</h3>
        <table class="table">
            <tr>
                <th>Account Code</th>
                <th>Account Name</th>
                <th class="text-right report-amount">Amount</th>
            </tr>
            @foreach (var item in Model.Where(a => !a.IsExpense))
            {
                <tr>
                    <td>@Html.ActionLink(item.AccountCode, "Account", new { id = item.AccountId })</td>
                    <td>@item.AccountName</td>
                    <td class="text-right report-amount">@item.Amount</td>
                </tr>
            }
            <tr>
                <td colspan="2" class="report-total-row text-right">Total Revenues</td>
                <td class="text-right report-amount">@Model.Where(a => !a.IsExpense).Sum(a => a.Amount)</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Expenses</h3>
        <table class="table">
            <tr>
                <th>Account Code</th>
                <th>Account Name</th>
                <th class="text-right report-amount">Amount</th>
            </tr>
            @foreach (var item in Model.Where(a => a.IsExpense))
            {
                <tr>
                    <td>@Html.ActionLink(item.AccountCode, "Account", new { id = item.AccountId })</td>
                    <td>@item.AccountName</td>
                    <td class="text-right report-amount">@item.Amount</td>
                </tr>
            }
            <tr>
                <td colspan="2" class="report-total-row text-right">Total Expenses</td>
                <td class="text-right report-amount">@Model.Where(a => a.IsExpense).Sum(a => a.Amount)</td>
            </tr>
        </table>
    </div>
    <div class="report-total-row text-right report-grand-total">
        Net Income: @netIncome
    </div>
}
