@using Dto.Purchasing
@using Dto.Common
@using Microsoft.AspNetCore.Components.Forms
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation

<div>
    <button type="button" @onclick="ToggleEdit" class="btn @(isEditMode ? "disabled" : "")">
        <i class="fa fa-edit"></i> Edit
    </button>
    @if (vendor.Id > 0)
    {
        <a href="/contact/contact?id=0&partyId=@vendor.Id&partyType=2" class="btn">
            <i class="fa fa-plus"></i> Add Contact
        </a>
    }
</div>

<EditForm Model="@vendor" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div id="divVendorCard" class="col-md-9">
        @* General Section *@
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#general"><i class="fa fa-align-justify"></i></a> General
            </div>
            <div class="card-body collapse show row" id="general">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:80px">No</div>
                        <div class="flex-grow-1">@vendor.No</div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:80px">Name</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Name" class="form-control" placeholder="Name ..."
                                       disabled="@(!isEditMode)" />
                            <ValidationMessage For="@(() => vendor.Name)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:80px">Phone</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Phone" class="form-control" placeholder="Phone ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:80px">Website</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Website" class="form-control" placeholder="Website ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:80px">Email</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Email" class="form-control" placeholder="Email ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Contact Section *@
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#contact"><i class="fa fa-align-justify"></i></a> Contact
                @if (vendor.Id > 0)
                {
                    <a href="/contact/Contacts?partyId=@vendor.Id&partyType=2" class="btn">...</a>
                }
            </div>
            <div class="card-body collapse show row" id="contact">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">First Name</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.PrimaryContact.FirstName" class="form-control"
                                       placeholder="First Name ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Last Name</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.PrimaryContact.LastName" class="form-control"
                                       placeholder="Last Name ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Phone</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.PrimaryContact.Party.Phone" class="form-control"
                                       placeholder="Phone ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">Fax</div>
                        <div class="col-sm-8">
                            <InputText @bind-Value="vendor.PrimaryContact.Party.Fax" class="form-control"
                                placeholder="Fax ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">Website</div>
                        <div class="col-sm-8">
                            <InputText @bind-Value="vendor.PrimaryContact.Party.Website" class="form-control"
                                       placeholder="Website ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Email</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.PrimaryContact.Party.Email" class="form-control"
                                       placeholder="Email ..." disabled="@(!isEditMode)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Address Section *@
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#address"><i class="fa fa-align-justify"></i></a> Address
            </div>
            <div class="card-body collapse show row" id="address">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Street 1</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Street1" class="form-control" placeholder="Street 1 ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Street 2</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Street2" class="form-control" placeholder="Street 2 ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">City</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.City" class="form-control" placeholder="City ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Province</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Province" class="form-control" placeholder="Province ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Postal Code</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.PostalCode" class="form-control" placeholder="Postal Code ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Country</div>
                        <div class="flex-grow-1">
                            <InputText @bind-Value="vendor.Country" class="form-control" placeholder="Country ..."
                                       disabled="@(!isEditMode)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Invoicing Section *@
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#invoicing"><i class="fa fa-align-justify"></i></a> Invoicing
            </div>
            <div class="card-body collapse show row" id="invoicing">
                <div class="col-sm-6">
                    <div class="row mb-2">
                        <div class="col-sm-6">Accounts Payable</div>
                        <div class="col-sm-6">
                            <InputSelect @bind-Value="vendor.AccountsPayableAccountId" class="form-control"
                                disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var account in accounts)
                                {
                                    <option value="@account.Value">@account.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:130px">Purchase</div>
                        <div class="flex-grow-1">
                            <InputSelect @bind-Value="vendor.PurchaseAccountId" class="form-control"
                                         disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var account in accounts)
                                {
                                    <option value="@account.Value">@account.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-6">Discount</div>
                        <div class="col-sm-6">
                            <InputSelect @bind-Value="vendor.PurchaseDiscountAccountId" class="form-control"
                                disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var account in accounts)
                                {
                                    <option value="@account.Value">@account.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:100px">Tax Group</div>
                        <div class="flex-grow-1">
                            <InputSelect @bind-Value="vendor.TaxGroupId" class="form-control" disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var taxGroup in taxGroups)
                                {
                                    <option value="@taxGroup.Value">@taxGroup.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Payment Section *@
        <div class="card">
            <div class="card-header">
                <a data-toggle="collapse" href="#payment"><i class="fa fa-align-justify"></i></a> Payment
            </div>
            <div class="card-body collapse show row" id="payment">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:130px">Payment Term</div>
                        <div class="flex-grow-1">
                            <InputSelect @bind-Value="vendor.PaymentTermId" class="form-control"
                                         disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var term in paymentTerms)
                                {
                                    <option value="@term.Value">@term.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div class="flex-shrink-0 me-2 text-nowrap" style="min-width:130px">Payment Method</div>
                        <div class="flex-grow-1">
                            <InputSelect @bind-Value="vendor.PaymentMethod" class="form-control"
                                         disabled="@(!isEditMode)">
                                <option value="">Select...</option>
                                @foreach (var method in paymentMethods)
                                {
                                    <option value="@method.Value">@method.Text</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mt-3">
        <button type="submit" class="btn btn-sm btn-primary btn-flat" disabled="@(!isEditMode || isSaving)">
            @if (isSaving)
            {
                <span class="spinner-border spinner-border-sm me-1"></span>
            }
            Save
        </button>
        <a href="/purchasing/vendors" class="btn btn-sm btn-default btn-flat">Close</a>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-2">@errorMessage</div>
        }
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success mt-2">@successMessage</div>
        }
    </div>
</EditForm>

@code {
    [Parameter]
    public int VendorId { get; set; }

    private Vendor vendor = new Vendor();
    private bool isEditMode = false;
    private bool isSaving = false;
    private string? errorMessage;
    private string? successMessage;

    private List<SelectListItem> accounts = new();
    private List<SelectListItem> taxGroups = new();
    private List<SelectListItem> paymentTerms = new();
    private List<SelectListItem> paymentMethods = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadDropdownData();

        if (VendorId == -1 || VendorId == 0)
        {
            // New vendor
            isEditMode = true;
            vendor.No = new Random().Next(1, 99999).ToString();
            vendor.PrimaryContact = new Contact();
            vendor.PaymentMethod = 1;
            var apAccount = accounts.FirstOrDefault(a => a.Text == "20110");
            if (apAccount != null && int.TryParse(apAccount.Value, out var apId))
            {
                vendor.AccountsPayableAccountId = apId;
            }
        }
        else
        {
            // Edit existing vendor
            await LoadVendor();
        }
    }

    private async Task LoadVendor()
    {
        try
        {
            var http = HttpClientFactory.CreateClient();
            var apiUrl = Environment.GetEnvironmentVariable("APIURL") ?? "http://localhost:8001/api/";
            var response = await http.GetAsync($"{apiUrl}purchasing/vendor?id={VendorId}");

            if (response.IsSuccessStatusCode)
            {
                vendor = await response.Content.ReadFromJsonAsync<Vendor>() ?? new Vendor();
                if (vendor.PrimaryContact == null)
                {
                    vendor.PrimaryContact = new Contact();
                }
                if (vendor.PrimaryContact.Party == null)
                {
                    vendor.PrimaryContact.Party = new Party();
                }
            }
            else
            {
                errorMessage = "Failed to load vendor data.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading vendor: {ex.Message}";
        }
    }

    private async Task LoadDropdownData()
    {
        try
        {
            var http = HttpClientFactory.CreateClient();
            var apiUrl = Environment.GetEnvironmentVariable("APIURL") ?? "http://localhost:8001/api/";

            // Load accounts
            var accountsResponse = await http.GetAsync($"{apiUrl}financials/accounts");
            if (accountsResponse.IsSuccessStatusCode)
            {
                var accountTree = await accountsResponse.Content.ReadFromJsonAsync<List<Account>>() ?? new();
                var accountsList = FlattenAccounts(accountTree)
                    .Where(a => a.ChildAccounts.Count == 0)
                    .OrderBy(a => a.AccountCode)
                    .ThenBy(a => a.AccountName)
                    .ToList();

                accounts = accountsList.Select(a => new SelectListItem
                {
                    Value = a.Id.ToString(),
                    Text = a.AccountCode
                }).ToList();
            }

            // Load tax groups
            var taxGroupsResponse = await http.GetAsync($"{apiUrl}tax/taxgroups");
            if (taxGroupsResponse.IsSuccessStatusCode)
            {
                var taxGroupsList = await taxGroupsResponse.Content.ReadFromJsonAsync<List<TaxGroup>>() ?? new();
                taxGroups = taxGroupsList.Select(t => new SelectListItem { Value = t.Id.ToString(), Text = t.Description }).ToList();
            }

            // Load payment terms
            var paymentTermsResponse = await http.GetAsync($"{apiUrl}common/paymentterms");
            if (paymentTermsResponse.IsSuccessStatusCode)
            {
                var paymentTermsList = await paymentTermsResponse.Content.ReadFromJsonAsync<List<PaymentTerm>>() ?? new();
                paymentTerms = paymentTermsList.Select(p => new SelectListItem
                {
                    Value = p.Id.ToString(),
                    Text = BuildPaymentTermLabel(p)
                }).ToList();
            }

            // Load payment methods
            var paymentMethodsResponse = await http.GetAsync($"{apiUrl}common/paymentmethods");
            if (paymentMethodsResponse.IsSuccessStatusCode)
            {
                var paymentMethodsList = await paymentMethodsResponse.Content.ReadFromJsonAsync<List<PaymentMethodItem>>() ?? new();
                paymentMethods = paymentMethodsList.Select(p => new SelectListItem
                {
                    Value = p.Id.ToString(),
                    Text = p.Description
                }).ToList();
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading dropdown data: {ex.Message}";
        }
    }

    private void ToggleEdit()
    {
        isEditMode = !isEditMode;
    }

    private async Task HandleValidSubmit()
    {
        isSaving = true;
        errorMessage = null;
        successMessage = null;

        try
        {
            var http = HttpClientFactory.CreateClient();
            var apiUrl = Environment.GetEnvironmentVariable("APIURL") ?? "http://localhost:8001/api/";
            var response = await http.PostAsJsonAsync($"{apiUrl}purchasing/savevendor", vendor);

            if (response.IsSuccessStatusCode)
            {
                successMessage = "Vendor saved successfully!";
                await Task.Delay(1000);
                Navigation.NavigateTo("/Purchasing/Vendors");
            }
            else
            {
                errorMessage = $"Failed to save vendor. Status: {response.StatusCode}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error saving vendor: {ex.Message}";
        }
        finally
        {
            isSaving = false;
        }
    }

    private class SelectListItem
    {
        public string Value { get; set; } = "";
        public string Text { get; set; } = "";
    }

    private string GetAccountsPayableDisplay()
    {
        if (!vendor.AccountsPayableAccountId.HasValue)
        {
            return string.Empty;
        }

        return accounts.FirstOrDefault(a => a.Value == vendor.AccountsPayableAccountId.Value.ToString())?.Text ?? string.Empty;
    }

    private static IEnumerable<Account> FlattenAccounts(IEnumerable<Account> accounts)
    {
        foreach (var account in accounts)
        {
            yield return account;

            if (account.ChildAccounts.Count > 0)
            {
                foreach (var child in FlattenAccounts(account.ChildAccounts))
                {
                    yield return child;
                }
            }
        }
    }

    private static string BuildPaymentTermLabel(PaymentTerm paymentTerm)
    {
        if (paymentTerm.DueAfterDays.HasValue && paymentTerm.DueAfterDays.Value > 0)
        {
            return $"{paymentTerm.DueAfterDays.Value} days";
        }

        if (!string.IsNullOrWhiteSpace(paymentTerm.Description))
        {
            return paymentTerm.Description;
        }

        return "Term";
    }

    private class Account
    {
        public int Id { get; set; }
        public string AccountCode { get; set; } = "";
        public string AccountName { get; set; } = "";
        public List<Account> ChildAccounts { get; set; } = new();
    }

    private class TaxGroup
    {
        public int Id { get; set; }
        public string Description { get; set; } = "";
    }

    private class PaymentTerm
    {
        public int Id { get; set; }
        public string Description { get; set; } = "";
        public int? DueAfterDays { get; set; }
    }

    private class PaymentMethodItem
    {
        public int Id { get; set; }
        public string Description { get; set; } = "";
    }
}