@model Dto.Sales.SalesQuotation

<style>
    tr th {
        color: #fff;
    }

    tr td {
        color: #fff;
    }

    .card,
    .card-body {
        color: #fff;
    }
</style>

<div>
    <button type="button" id="linkEdit" class="btn" onclick="onClickEditButton();">
        <i class="fa fa-edit"></i> Edit
    </button>
</div>

<form action="~/Quotations/Quotation" method="post">
    @Html.HiddenFor(m => m.Id)
    <div id="divSalesQuotationCard" class="col-md-9">
        <div class="card">
            <div class="card-body show row" id="general">
                <div class="col-sm-6">
                    @* Customer Name *@
                    <div class="row">
                        <div class="col-sm-5" id="customer-name">Customer Name</div>
                        <div class="col-sm-7">
                            <select class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customers"
                                id="optCustomer">
                            </select>
                            <span asp-validation-for="CustomerId" class="danger"></span>
                        </div>
                    </div>
                    @* Quotation Date *@
                    <div class="row">
                        <div class="col-sm-5">Quotation Date</div>
                        <div class="col-sm-7">
                            <input class="form-control pull-right" type="date" asp-for="QuotationDate">
                        </div>
                    </div>
                    @* Payment Term *@
                    <div class="row">
                        <div class="col-sm-5">Payment Term</div>
                        <div class="col-sm-7">@ViewBag.SelectedPaymentTerm</div>
                    </div>
                    @* Total Amount *@
                    <div class="row">
                        <div class="col-sm-5">Total Amount</div>
                        <div class="col-sm-7">@ViewBag.TotalAmount</div>
                    </div>
                </div>
                @* Table *@
                <table class="table">
                    <thead>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Discount</th>
                        <th>Measurement</th>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.SalesQuotationLines.Count; i++)
                        {
                            <tr>
                                <input type="hidden" asp-for="SalesQuotationLines[i].Id" />

                                <td>
                                    <select class="form-control" asp-for="SalesQuotationLines[i].ItemId"
                                        asp-items="@ViewBag.Items" id="item_@i">
                                    </select>
                                </td>

                                <td>
                                    <input class="form-control" asp-for="SalesQuotationLines[i].Quantity" id="qty_@i" />
                                </td>

                                <td>
                                    <input class="form-control" asp-for="SalesQuotationLines[i].Amount" id="amt_@i" />
                                </td>

                                <td>
                                    <input class="form-control" asp-for="SalesQuotationLines[i].Discount" id="disc_@i" />
                                </td>

                                <td>
                                    <select class="form-control" asp-for="SalesQuotationLines[i].MeasurementId"
                                        asp-items="@ViewBag.Measurements" id="meas_@i">
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <input id="btnSave" class="btn btn-sm btn-primary btn-flat pull-left disabledControl" type="submit"
            value="Save" />
        <a href="~/sales/salesinvoices" class="btn btn-sm btn-default btn-flat pull-left">Close</a>
    </div>
</form>

@section scripts {
    <script src="~/js/custom.js" type="text/javascript"></script>
    <script>

        if (@Model.Id > 0) {
            setFormDisabled("divSalesQuotationCard");
        }
        else {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " btn inactiveLink";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
        }

        function onClickEditButton() {
            document.getElementById("linkEdit").className = document.getElementById("linkEdit").className + " disabledControl";
            document.getElementById("btnSave").className = "btn btn-sm btn-primary btn-flat pull-left";
            setFormEnabled("divSalesQuotationCard");
        }
    </script>
}